<launch>

  <arg name="debug" default="false" />
  <arg name="kinect" default="false"/>

  <arg unless="$(arg debug)" name="launch_prefix" value="" />
  <arg     if="$(arg debug)" name="launch_prefix" value="gdb --ex run --args" />

  <arg unless="$(arg kinect)" name="command_args" value="-d $(find edwin_moveit_config)/launch/moveit.rviz" />
  <arg if="$(arg kinect)" name="command_args" value="-d $(find edwin_moveit_config)/launch/moveit_kinect.rviz" />
  
  <node name="$(anon rviz)" launch-prefix="$(arg launch_prefix)" pkg="rviz" type="rviz" respawn="false"
	args="$(arg command_args)" output="screen">
    <rosparam command="load" file="$(find edwin_moveit_config)/config/kinematics.yaml"/>
  </node>

</launch>
